{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

<nav>
<h1>{% block header1 %}Kai Wulf {% endblock %}</h1>
<ul>
    {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    {% endif %}
</ul>
</nav>

{% block content %}
    <form method="post">
        <label method="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <!-- will use this for updating passwords later
        <label for="new-password">New Password</label>
        <input type="new-password" name="new-password" id="new-password"> -->
        <input type="submit" value="Log In">
    </form>
{% endblock %}