<!DOCTYPE html>
    <link rel="stylesheet" href="../style.css">
    <title>kaiwulf&lt;&gt;</title>
    <div id=container>
        <h1>kaiwulf&lt;&gt;</h1>
        <div id=content>
            <h2>THIS IS IT!</h2>
            this is the content  # Will display a list of blog posts here
            <a href="./blog.html">the kaiblog</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#">Page 1</a>
            <a href="#">Page 2</a>
            <a href="#">Page 3</a>
  </div>
</div>
</body>
</html>

