{% extends "ycms/blog/base.html" %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block header %}
  <h1>{{ post['title'] }}</h1>
  <p>by {{ post['username'] }} on {{ post['published_at'].strftime('%Y-%m-%d') }}</p>
{% endblock %}

{% block blog_content %}
  <article>
    {{ post['body_html'] |safe}}
  </article>
{% endblock %}