{% extends "base.html" %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block header %}
  <h1>{{ post['title'] }}</h1>
  <p>by {{ post['username'] }} on {{ post['published_at'].strftime('%Y-%m-%d') }}</p>
{% endblock %}

{% block content %}
  <article>
    <header>
        <div class="about">
            {# Not sure what will go here #}
        </div>
        </header>
    {{ post['body_html'] |safe}}
  </article>
{% endblock %}