{% extends 'base.html' %}

{% block wideBox %}
    <h1>Tech & Other Stuff</h1>
    <p><strong>Hi!</strong> Welcome to the site!</p>
{% endblock %}

{% block content %}
    <a href="{{ url_for('blog.blog_index') }}"><h3>kai's blog</h3></a>
    <h2>Projects</h2>
    <p>Coming soon!</p>
    <img id="construction" src="{{ url_for('static', filename='P9Q7.gif') }}" />
{% endblock %}