{% extends 'base.html' %}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="url_for('static', 'ev-graph.js')"></script>

{% block wideBox %}
    <h1>Tech & Other Stuff</h1>
    <p><strong>Hi!</strong> Welcome to the site!</p>
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}<h1>Kai Wulf Home</h1>{% endblock %}

{% block content %}
{% if latest_posts %}
    {% for post in latest_posts %}
        <article>
            <h1>{{ post['title'] }}</h1>
            <p class=""metadata">
                by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
            </p>
            <p>{{ post['body'][:200]|safe }}{% if post['body']|length > 200 %}...{% endif %}</p>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('blog.blog_index') }}"><h3>kai's blog</h3></a>
{% else %}
    <p>No posts yet.</p>
{% endif %}
    <h2>Projects</h2>
    <p>Coming soon!</p>
    <img id="construction" src="{{ url_for('static', filename='P9Q7.gif') }}" />
{% endblock %}

{% block project %}
{% endblock %}